.cardGroup{
    margin-bottom:50px;
    
    
}
.different{
    width:33%; height:33px;
}
.name{
    margin-bottom: 100px;
    margin-left: 250px;
}
.paragraf{
    margin-bottom:125px;
    margin-left: 500px;
}
.card {
    
    border-radius: 5%;
}
