.form{
    background: rgb(234, 241, 243);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    float: right;
    width:53%;
    
}

.button{
    display:inline-block;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactButton{
    width: 100%;
}
